body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: #fffff3;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 0;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background: url('media/img/logo/banniere.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 90%;
    font-size: 60%;
    width: 100%;
    height: 10vh;
    z-index: 1;
}
header:after {
    content: "Page du cercle formations et services du RESAM";
    margin-left: 50%;
    color: white;
    font-size: 150%;
}
main {
    display: block;
    background: #fffff3;
    width: 100%;
    height: 100%;
    top: 10vh;
    z-index: 0;
}
menu {
    display: grid;
    justify-content: flex-start;
    position: relative;
    background: scroll;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(20%);
    padding: 0 0 10vh 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: peachpuff;
    opacity: 90%;
    min-height: 16em;
    transition: 0.6s ease-in-out;
    z-index: 0;
}
nav:hover {
    opacity: 100%;
}
nav:nth-child(even) {
    filter: contrast(2);
    opacity: 80%;
}
nav:nth-child(odd) {
    filter: contrast(2);
    opacity: 100%;
}
img {
    width: 8em;
    height: auto;
}
a {
    text-decoration: none;
    line-height: 2em;
    color: #b43030;
    transition: 0.2s ease-in-out;
}
a:hover {
    color: rgb(32, 32, 31);
    text-decoration: underline wavy;
    text-decoration-thickness: 2px; 
    text-underline-position: under;
}
h3 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}
footer {
    display: flex;
    position: fixed;
    top: 90vh;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 90%;
    font-size: 90%;
    color: red;
    width: 100%;
    height: 10vh;
    z-index: 2;
}
#l1, #l2, #l3 {
    color: whitesmoke;
}
@media screen and (max-width: 640px) {
    header {
        height: 6vh;
    }
    menu {
        display: grid;
        justify-content: flex-start;
        position: relative;
        background: scroll;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(20%);
    }
}
@media screen and (max-width: 420px) {
    header {
        height: 6vh;
        font-size: 50%;
        background: none black;
    }
    header:after {
        margin: 0.3em;
    }
    menu {
        display: grid;
        justify-content: flex-start;
        position: relative;
        background: scroll;
        grid-template-columns: 100%;
        grid-template-rows: repeat(20%);
    }
}